/*** GLOBAL ***/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    background: #DAF7F6;
}

/*** HEADER ***/

header {
    background: #fff;
    text-align: center;
}

header h1 {
    display: inline-block;
    padding: 20px 0;
    font-family: 'Montserrat', serif;
    font-size: 48px;
    color: #F16059;
}

header img {
    margin-right: 10px;
}

/*** MAIN ***/

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 20px 0;
    overflow: hidden;
}

/*** RECIPE IMAGE ***/

#cookies .image {
    background-image: url("../img/gluten-free-sugar-cookies.jpg");
    background-size: cover;
}

#pesto .image {
    background-image: url("../img/nut-free-pesto.jpg");
    background-size: cover;
}

#salad .image {
    background-image: url("../img/watermelon-salad.jpg");
    background-size: cover;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}



/*** RECIPE DETAILS ***/

.recipe {
    float: left;
    width: 500px;
    height: 550px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 20px;
}

.recipe h2 {
    font-size: 24px;
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 25px 0;
}

.recipe h3 {
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 5px 0;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
}

.time {
    margin-bottom: 5px;
    border: 1px solid #3B3B3B;
    overflow: hidden;
}

div.prep, div.cook, div.total {
    float: left;
    padding: 0 3px 0 3px;
    width: 33.3333%;
    box-sizing: border-box;
    text-transform: uppercase;
}

.time .cook {
    border-left: 1px solid #3B3B3B;
    border-right: 1px solid #3B3B3B;
}

.time img {
    width: 15px;
    height: auto;
}

.time-details {
    display: inline;
}

.prep img, .cook img, .total img {
    vertical-align: middle;
    margin-right: 10px;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
}

.columns {
    overflow: hidden;
}

.directions {
    float: left;
    width: 240px;
}

.ingredients {
    float: left;
    width: 205px;
    margin-right: 15px;
}

.ingredients ul {
    padding-left: 15px;
    line-height: 20px;
}

.ingredients ul li {
    list-style: square;
}

.directions ol {
    line-height: 20px;
}